h1 {
  font-weight: bold;
  padding-top: 10px;
  text-align: center;
}

.dogs{
  float: right;
  width: 250px;
  background-color: skyblue;
}

.dogs p{
  font-style: italic;
}

.dogs li{
  padding-top: 10px;
}

.cats{
  float: right;
  width: 250px;
  background-color: purple;
}

.cats p{
  font-style: bold;
}
.cats li{
  padding-top: 10px;
}

.birds{
  float: right;
  width: 250px;
  background-color: green;
}
.birds p{
  font-style: italic;
}
.birds li{
  padding-top: 10px;
}

.rodents{
  float: right;
  width: 250px;
  background-color: yellow;

}
.rodents p{
  font-style: bold;
}
.rodents li{
  padding-top: 10px;
}

.reptiles{
  float: right;
  width: 250px;
  background-color: red;
}

.reptiles p{
  font-style: italic;
}
.reptiles li{
  padding-top: 10px;
}

#email{
  float: right;
  text-align: center;
  padding-right: 10px;
}

img{
  width: 250px;
  height: 200px;
}

@media screen and (max-width:768px) {
body{
  background-color: black;

}
p {
  color: white;
}
.rodents p{
  color: green;
}
}
